<form id="login" action="/login" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit" value="Go">
    <div class="error">{{error}}</div>
</form>